<ul class="navbar-nav mr-auto">
  <li class="nav-item" *ngFor="let menuItem of menuItems">
    <a class="nav-link" *ngIf="menuItem._links.site.type === 'internal'" routerLink={{menuItem._links.site.href}}>
      {{menuItem.name | titlecase }}<span *ngIf="menuItem.selected" class="sr-only">(current)</span>
    </a>
    <a class="nav-link" *ngIf="menuItem._links.site.type === 'external'" href={{menuItem._links.site.href}}>
      {{menuItem.name | titlecase}}<span *ngIf="menuItem.selected" class="sr-only">(current)</span>
    </a>
  </li>
</ul>