<div class="jumbotron has-edit-button" *ngIf="content; else configureComponentBlock">
  <app-edit-content *ngIf="content.cmsData" [cmsData]="content.cmsData"></app-edit-content>
  <h1>{{content.document.title}}</h1>
  <figure>
    <img src={{image}} alt={{content.document.title}}/>
  </figure>
  <p [innerHTML]="content.document.content.value"></p>
  <p><a class="btn btn-primary btn-lg" href="#banner_link">Learn more</a></p>
</div>
<ng-template #configureComponentBlock>Click to configure {{component.type}}</ng-template>
