<div id="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Angular Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/site/_cmsinternal/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/site/_cmsinternal/news">News</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container marketing" id="root">
  <app-container *ngFor="let container of containers" [container]="container"></app-container>
</div>
