<div id="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Angular Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <cms-menu *ngIf="pageModel !== undefined" path="menu">
    </cms-menu>
  </nav>
</div>
<div class="container marketing" id="root">
  <cms-component *ngIf="pageModel !== undefined" [configuration]="pageModel"></cms-component>
</div>
