<div className="row" *ngIf="items; else configureComponentBlock">
  <div className="col-sm-12 news-list">
    <app-news-item *ngFor="let item of items" [contentUuid]="item"></app-news-item>
  </div>
  <nav className="blog-pagination">
    <a className="btn btn-outline-primary disabled" href="#pagination">Older</a>
    <a className="btn btn-outline-secondary disabled" href="#pagination">Newer</a>
  </nav>
</div>
<ng-template #configureComponentBlock>Click to configure {{component.type}}</ng-template>
