<div className="blog-post has-edit-button" *ngIf="content; else configureComponentBlock">
  <!--{ editContentButton && editContentButton }-->
  <h2 className="blog-post-title">{{content.document.title}}</h2>
  <p className="blog-post-meta">
    <span className="blog-post-date">{{content.document.date | date}}</span>
    <span className="author"><a href="#pagination">{{content.document.author}}</a></span>
  </p>
  <p>{{content.document.introduction}}</p>
  <figure>
    <img src={{image}} alt={{content.document.title}}/>
  </figure>
  <p [innerHTML]="content.document.content.content"></p>
</div>
<ng-template #configureComponentBlock>Click to configure {{component.type}}</ng-template>
